*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/Passion.jpg");
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
}


body header{
    background: #FBF7F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height: 4em;
    width: 100%;
    border-bottom: 1px solid #e53935;
}
header .tittle{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1em;
}
header .menu{
    display: flex;
    align-items: center;
}
header .menu nav li{
    list-style: none;
    display: inline-block;
}
header .menu nav a{
    text-decoration: none;
    color: black;
    padding: 0 5px;
}
header .menu nav a:hover{
    color: #e53935;
}
header .userImg{
display: flex;
align-items: center;
}
header .imagen{
    width: 60px;
    height: 60px;
    margin-right: 5px;
}
header .imagen img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
header .imagen img:hover{
    opacity: .7;
}
header .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
header .user p span{
    color: #e53935;
}
header .user a{
    color: #000;
}
header .user a:hover{
    color: #e53935;
}
body #contenedor h2{
    text-align: center;
    margin-top: 10px;
}
body section{
    width: 100%;
   /*  background-color: aqua; */
}
body section .buscar{
    margin: 10px 0;
}
body section .buscar input[type=search]{
    padding: 10px 5px;
    width: 20em;
    border: 1px solid #e53935;
}
body section .buscar input[type=button]{
    width: 7em;
    padding: 10px 5px;
    background: #e53935;
    border: none;
    color: #FBF7F4;
    cursor: pointer;
}
body section .buscar input[type=button]:hover{
    background-color: #A40808;
}
body .formulario{
    background-color: #FBF7F4;
    width: 55%;
    margin: 25px auto;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.formulario form{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.formulario>h2{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    
}
.registro form label{
    text-align: right;
    margin-right: 5px;
}
.registro form{
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;
}
.registro form .userFoto{
    grid-column: 3/4;
    grid-row: 1/9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registro form .userFoto img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.registro form input[type=file]{
    border: none;
    width: 100%;
}
.formulario form input{
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid #e53935;
    background-color: #FBF7F4;
}
.formulario form input[type=date]{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.formulario form input[type=submit]{
    background-color: #e53935;
    width: 15em;
    border-radius: 20px;
    padding: 15px 0;
    text-transform: uppercase;
    cursor: pointer;
    color: #FBF7F4;
    font-size: 1em;
    grid-column: 2/3;
}
body .login{
    width: 30%;
}
.login form{
    
    margin: 0 auto;
}
.login form input{
    margin-top: 2em;
}
.login form input[type=submit]{
    grid-column: 1/2;
    margin: 2em auto;
}
.formulario form input:hover{
    border-bottom: 1px solid #e35d5b;
}
.formulario form input[type=submit]:hover{
    background-color: #e35d5b;
}
.formulario form input[type=submit]:active{
    background-color: #DB4227;
}

body section .crear_usuario{
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body section .crear_usuario i{ 
    font-size: 4em;
    margin-top: 10px;
}
body section .crear_usuario i.fa-check-circle{
    color: aquamarine;
}
body section .crear_usuario i.fa-exclamation-circle{
    color: #DB4227;
}
body section .crear_usuario a{
    text-transform: uppercase;
    margin-top: 10px;
    color: #000;
    letter-spacing: 3px;
}

body .mensaje{
    background-color: #FFF;
    border-radius: 20px;
}
body .mensaje form{
    display: flex;
    flex-direction: column;
}
body .mensaje form input{
    width: 90%;
    background-color: #FFF;
}
body .mensaje form textarea{
    resize: none;
    padding: 10px;
    margin-top: 20px;
    width: 90%;
    border: 1px solid #e35d5b;
    font-family: 'Source Sans Pro', sans-serif;
}
body .floatWindow{
    /* background-image: url("../img/window.png"); */
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all ease 1s;
    z-index: 100;
    display: none;
    
}body .floatWindow .window{
    width: 40%;
    margin-top: 70px;
}
body .floatWindow .window p span{
    color: #e35d5b;
}
body .floatWindow .window p{
    margin-top: 15px;
    text-align: left;
    border-bottom: 1px solid #e35d5b;
    padding: 10px 0;
}
body .floatWindow .window p.msj{
    background-color: #FBF7F4;
    border: 1px solid #e35d5b;
    padding: 15px;
    height: 20%;
    text-align: justify;
}
body .floatWindow .window input{
    background-color: #e53935;
    width: 15em;
    border-radius: 20px;
    padding: 15px 0;
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FBF7F4;
    font-size: 1em;
    border: none;
}
footer{
    background-color: #FBF7F4;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer.extend{
    position: relative;
}
footer.red{
    background-color: #e53935;
}
/* body .mensaje{
    background-color: #FFF;
    width: 50%;
}
body .mensaje form{
    width: 100%;
    height: 100%;
    background-color: #FFF;
    
}body .mensaje form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body .mensaje textarea{
    resize: none;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #e35d5b;
} 
body .mensaje input[type=email]{
    width: 50%;
} */